@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');/*for the logo*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;1,500&display=swap');/*for the nav bar*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');/* for the section images */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}
body{
    position: relative;
    background-color: #f2f2f2;
    text-align: center;
}

header{
    position:sticky ;
    top: 0;
    z-index: 10;
}
.head{
    display: flex;
    background-color:#001F3F;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.logo{
    height: 100%;
    text-decoration: none;
    margin: 20px;
    text-align: center;
    font-size:  20px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    transition: transform 0.5s ease;
}
    .logo:hover{
        transform: scale(1.05);
    }

.register{
    display: flex;
    align-items: center;
}
form {
    background-color: white;
    max-width: 300px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    padding: 50px;
}
form h1{
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #001F3F;
    color: black;  
    background-color: transparent;
    text-align: left;
    margin-bottom: 25px;
}
button {
    background-color: #001F3F;
    border-radius: 10px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.cancelbtn:hover {
    color: red;
}

.container {
    padding: 16px;
}

.bottom_feet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;
    background-color: #001F3F;
}
.icons{
    display: flex;
}
.icons img{
    width: 32px;
    height: 32px;
    margin-right: 10px;
    transition: transform 0.5s;
}
.icons img:hover{
    transform: scale(0.9);
}
.notes{
    display: flex;
    flex-wrap: wrap;
}
.notes a,.notes p{
    text-decoration: none;
    color: white;
    margin-right: 7px;
}
.notes a:hover{
    color: red;
    transition: 0.3s ease;
}


