@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');/*for the logo*/
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');/* for the section images */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
}
body{
    background-color: #f2f2f2;
}
header{
    position:sticky ;
    top: 0;
    z-index: 10;
}
.head{
    display: flex;
    background-color:#001F3F;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
    .logo{
        height: 100%;
        text-decoration: none;
        margin: 20px;
        text-align: center;
        font-size:  20px;
        font-family: "Bungee Spice", sans-serif;
        font-weight: 400;
        transition: transform 0.5s ease;
    }
    .logo:hover{
            transform: scale(1.05);
    }
    nav{
        margin: 0;
        display: flex;
        justify-content:space-around ;
        align-items:center;
        background-color: #001F3F;
        z-index: 9999;
    }
    .navigation_links{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    .navigation_links a{
        text-decoration: none;
        text-align: center;
        color: white;
        height: 100%;
        padding: 0px 20px;
        transition: transform 0.5s ease;
    }
        .navigation_links a:hover{
            transform: scale(1.15);
            color: rgb(217, 134, 1);
        }
        #sign_in:hover{
            color: red;
        }

    #Sidebar_Active, .open_sidebar, .close_sidebar{
        display:none;
    }



    .mini-nav {
        display: flex;
        justify-content: center;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        padding: 10px;
    }
    .mini-nav a {
        color: #000;
        text-decoration: none;
        padding: 0px 15px;
    }
    .mini-nav a:hover {
        color: white;
        background-color: #001F3F;
        border-radius: 10px;
        transition: 0.4s ease;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        border-radius: 10px;
        min-width: 160px;
        padding: 15px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        z-index:1;
    }
    .dropdown-content a{
        margin-bottom: 5px;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        z-index: 1;
    }
    .bottom_feet{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2%;
        color: white;
        background-color: #001F3F;
    }
    .icons{
        display: flex;
    }
    .icons img{
        width: 32px;
        height: 32px;
        margin-right: 10px;
        transition: transform 0.5s;
    }
    .icons img:hover{
        transform: scale(0.9);
    }
    .notes{
        display: flex;
        flex-wrap: wrap;
    }
    .notes a,.notes p{
        text-decoration: none;
        color: white;
        margin-right: 7px;
    }
    .notes a:hover{
        color: red;
        transition: 0.3s ease;
    }
    
    @media (max-width: 750px){
        *{
            font-size: small;
        }
        .navigation_links{
            display: none;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            position: fixed;
            top: 0;
            right: 0;
            background-color: #001F3F;
        }
        .navigation_links a{
            box-sizing: border-box;
            height: auto;
            width: 100%;
            padding: 10px;
        }
        .open_sidebar, .close_sidebar{
            display: block;
            padding: 10px;
        }
        #Sidebar_Active:checked ~ .navigation_links {
            display: flex;
            position:fixed;
            top: 0;
            right: 0;
            height: 300px;
            border-radius: 10px;
            width: 60%; 
            font-size: large;
            background-color: #001F3F;
            z-index: 10;
        }
    }














    .heading{
        background-color: white;
        margin: 30px;
        border-radius: 10px;
        padding: 40px;
    }
    .heading h1{
        font-family: "Luckiest Guy", cursive;
        font-weight: 400;
        font-size: 2em;
        color: white;
        margin-bottom: 20px;
        background-color: #689668;
        text-align: center;
        border-radius: 10px;
        padding: 20px;
    }

.branch_description{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: white;
    padding: 10px;
}
.branch{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    flex-wrap: wrap;
}
.branch p, .branch h1{
    color:#001F3F;
    text-align: center;
    padding: 20px;
}
.slider{
    width: 450px;
    border-radius: 10px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    overflow-x: scroll;

}


.u iframe{
    width: 600px;
}
.u iframe, .u img{
    border-radius: 10px;
    height: 500px;
}
.u{
    border-radius: 10px;
    color: white;
    margin: 5px;
    background-color: white;
    flex:1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.u h1{
    font-size: 2em;
}






.container img{
    width:170px;
    height: 170px;
    transition: transform 0.5s ease;
}
.container div:hover img{
        transform: translateY(-10px);
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,auto);
    margin: 30px;
    gap: 15px;
}
.container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.item1, .item2, .item3 {
    grid-row: 1;
}

.item4, .item5, .item6 {
    grid-row: 2;
}

.item7, .item8, .item9 {
    grid-row: 3;
}

.item10, .item11, .item12 {
    grid-row: 4; 
}

.container p{
    background-color: #001F3F;
    color: white;
    width: 100%;
}

.container a{
    background-color: #001F3F;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container a:hover {
    background-color: orangered;
    transition: 0.6s;
}

.bottom_feet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: white;
    background-color: #001F3F;
}


@media (max-width: 750px){
    .container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6,auto);
    }
    .item1, .item2{
        grid-row: 1;
    }
    .item3, .item4{
        grid-row: 2;
    }
    .item5, .item6{
        grid-row: 3;
    }
    .item7, .item8{
        grid-row: 4; 
    }
    .item9, .item10{
        grid-row: 5; 
    }
    .item11, .item12{
        grid-row: 6; 
    }
}

@media (max-width: 500px){
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, auto); 
      }
      .item1 {
        grid-row: 1;
      }
      .item2 {
        grid-row: 2;
      }
      .item3 {
        grid-row: 3;
      }
      .item4 {
        grid-row: 4;
      }
      .item5 {
        grid-row: 5;
      }
      .item6 {
        grid-row: 6;
      }
      .item7 {
        grid-row: 7;
      }
      .item8 {
        grid-row: 8;
      }
      .item9 {
        grid-row: 9;
      }
      .item10 {
        grid-row: 10;
      }
      .item11 {
        grid-row: 11;
      }
      .item12 {
        grid-row: 12;
      }
    .container div{
        width: 200px;
        margin: 0 auto;
    }
      
      
    .container img{
        width: 130px;
        height: 130px;
    }
    


    .slider{
        width: 200px;
        height: 200px;
        overflow: none;
    }
    .u img{
        display: none;
    }
    .u iframe{
        height: 400px;
        width: 100%;
    }
    .u h1{
        font-size: 1.4em;
    }
}